{% extends "temps/index.html" %}

{% load static %}


{% block title %}<title>tools</title>{% endblock %}



{% block content %}

<style type="text/css">
/*  .news img{
    margin-left: 18px;
    height: 90%;
    width: 90%;
  }*/
  .row p{
    /*margin: 1rem 2rem;*/

  }
  .contan{
    /*height: 100%;*/
    /*margin: 0rem 2rem;*/
  }
  .row h5{
    text-align: center;
    margin-top: 1%;
  }
  section .contan img{
    width: 100px;
    height: 100px;
    margin-left: 600px ;
    margin-top: 20px;
  }
</style>


<section>
  <div class="contan">
    <div class="news" data-aos="fade-right" data-aos-delay="200">
        <img src="{% static 'images/61.png' %}" alt="post-1">
    </div>
    <div class="comment" data-aos="fade-left" data-aos-delay="200">
      <div class="contact" id="contact">
        <div class="container">
          <div class="row">
            <h5>Website & Software Development</h5>
            <p><b>Whether you require a newly developed website to enhance customer engagement, a web portal to improve visibility
            and organization, or robust and future-rich web app to automate bussiness process, Pictus tech has the solution</p>
            <p>Our backend developers are experts in PHP, Python, C#, SQl and more while our front-end designers are well-versed in using Javascript, CSS3, HTML5 and more. </p>     
            <p>From database design, Desktop App Development and web app development to system integrations, our diverse team of Full-Stack Developers have expertise to build your next software application. Our developers have experience working with javascript, PHP, Python, C#, jQuery, AngularJs, and so much more.</p>
            <p>Using our experience in mobile app development, our Mobile App Development Team will help you create smooth, seamless experience on any mobile devices.</p>
                    </div>
                </div>
            </div>
        </div>
  </div>  
</section>  <br><br>


<section>
  <div class="contan">
    <div class="news" data-aos="fade-right" data-aos-delay="200">
        <img  src="{% static 'images/65.jpeg' %}" alt="post-1">
    </div>
    <div class="comment" data-aos="fade-left" data-aos-delay="200">
      <div class="contact" id="contact">
        <div class="container">
          <div class="row">
            <h5>Network Services</h5>
            <p>Pictus internet service providers we offer access to our internet services, which we have monthly plans with different prices and offers. We offer services such as wi-fi installation in offices and private homes, also network troubleshooting and consultation services.</p>
            <p>Our networking office deals with network accessories such as routers, cat6, RJ45, climping tools etc.</p>
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>  <br><br>


<!-- <section>
  <div class="contan">
    <div class="news" data-aos="fade-right" data-aos-delay="200">
        <img src="{% static 'images/7.jpg' %}" alt="post-1">
    </div>
    <div class="comment" data-aos="fade-left" data-aos-delay="200">
      <div class="contact" id="contact">
        <div class="container">
          <div class="row">
            <h5>CyberSecurity & Privacy</h5>
            <p></p>
            <p></p>
                    </div>
                </div>
            </div>
        </div>
  </div>  
</section>  <br><br> -->


<section>
  <div class="contan">
    <div class="news" data-aos="fade-right" data-aos-delay="200">
        <img  src="{% static 'images/63.png' %}" alt="post-1">
    </div>
    <div class="comment" data-aos="fade-left" data-aos-delay="200">
      <div class="contact" id="contact">
        <div class="container">
          <div class="row">
            <h5>Hardware Maintenance</h5>
            <p>Our team is good at hardware maintenance and setup of new offices and configuring pc for easy communication between each other, also in hardware repair which is extensive hardware repair and cleaning.</p>
            <p>Our hardware and maintence office also deals with computer accessories such as Monitor, keyboard, mouse ,usb drives, harddisk, chargers, laptop casing etc.</p> 
                    </div>
                </div>
            </div>
        </div>
  </div>  
</section>  <br><br>


<!-- <section>
  <div class="contan">
    <div class="news" data-aos="fade-right" data-aos-delay="200">
        <img src="{% static 'images/10.jpg' %}" alt="post-1">
    </div>
    <div class="comment" data-aos="fade-left" data-aos-delay="200">
      <div class="contact" id="contact">
        <div class="container">
          <div class="row">
            <h5>Machine Learning & AI</h5>
            <p></p>
            <p></p>
                    </div>
                </div>
            </div>
        </div>
  </div>  
</section>  <br><br> -->

<section>
  <div class="contan">
    <div class="news" data-aos="fade-right" data-aos-delay="200">
        <img src="{% static 'images/ux.png' %}" alt="post-1">
    </div>
    <div class="comment" data-aos="fade-left" data-aos-delay="200">
      <div class="contact" id="contact">
        <div class="container">
          <div class="row">
            <h5>Graphic Design</h5>
            <p>Our team is good in animotion and graphic designs creates beautiful logos, branding materials, illustrations, video Editing, Posters and Business card and more to fullfill your branding vision.</p>
          
                    </div>
                </div>
            </div>
        </div>
  </div>  
</section><br><br>

<div class="faq-footer">
  <p><i class="fa fa-fw fa-facebook-official"></i>
  <i class="fa fa-fw fa-twitter"></i>
  <i class="fa fa-fw fa-instagram"></i>
  <i class="fa fa-fw fa-youtube"></i>
</p>
  <h4 class="text-gray">
    &copy; 2021 by PICTUSTECH. All rights reserved created by pictus-Dev
  </h4>
</div>  


{% endblock %}