{% extends "temps/index.html" %}
{% load static %}

{% block title %}Django Ajax CRUD{% endblock %}

{% block content %}

<style type="text/css">
section .blog .blog-post{
    padding-top: 2rem ;
}
.blog h1,h5{
    color: #F9A602 ;
    text-align: center;
    margin-top: 4%;
}
section .blog h4{
    color: black;
    text-align: center;
}
section  .blog-post .blog-content{
    display: flex ;
    flex-direction: column;
    text-align: center ;
    width: 27% ;
    height: 500px ;
    margin: 1rem 2rem ;
    box-shadow: 0 15px 20px rgba(0,0,0,0.2) ;
}
section .blog-post .blog-content img{
	width: 100%;
	height: 66% !important;
}
section .blog-content .blog-title{
    padding: 0.1rem 0 !important;
}
.blog p{
	font-size: 15px;
	text-align: center;
}
.blog h2{
	font-size: 20px;
}
.girl{
	/*margin-left: 230px !important;*/
}
.team-footer{
	text-align: center;
	margin-top: 20px !important;
}
@media screen and (max-width: 520px){
	section .container .blog-post{
		width: 100% !important;
        /*height: 600px !important;*/
        /*background-color: #e5edf1;*/
        display: grid !important;
        grid-template-columns: repeat(1,1fr) !important;
	} 
	section .container .blog-post .blog-content{
		width: 300px !important;
		margin-left: 30px !important;
	}
}

</style>
<section>
	<div class="blog">
		<h1>Co-Founders</h1><br>
		<p>The passion behind the business</p>
		<div class="container">
			<div class="row blog-post">
				<div class="col-3 blog-content">
					<img src="{% static 'images/81.jpg' %}" alt="post-1">
					<div class="blog-title">
						<h2>Eric Muchiri</h2>
						<h5>Manager</h4>
						<p>Static & Dynamic Website & Web App Developer</p>
						<p>Python, Django, HTML, CSS, Javascript</p>
					</div>
				</div>
				<div class="col-3 blog-content">
					<img src="{% static 'images/82.jpg' %}" alt="post-1">
					<div class="blog-title">
						<h2>David Ndung'u</h2>
						<h5>Assistant Manager</h4>	
						<p>Web App Developer & Hardware Maintenance</p>	
						<p>PHP, HTML, CSS, Javascript</p>				
				    </div>
				</div>
				<div class="col-3 blog-content">
					<img src="{% static 'images/77.jpg' %}" alt="post-1">
					<div class="blog-title">
						<h2>Samuel Munene</h2>
						<h5>Customer Service Representative</h4>
					    <p>Graphic Design & Animations</p>
					    <p>Photoshop, Illustrator, Motion Graphic</p>
					</div>
				</div>
				<div class="col-3 blog-content girl">
					<img src="{% static 'images/79.jpg' %}" alt="post-1">
					<div class="blog-title">
						<h2>Peter Ndigirigi</h2>
						<h5>Network Administrator</h4>
					    <p>Desktop App Developer & Networking</p>
					    <p>C#, Bunifu Frameworks, Javascript, Wifi</p>
					</div>
				</div>
				<div class="col-3 blog-content">
					<img src="{% static 'images/75.jpg' %}" alt="post-1">
					<div class="blog-title">
						<h2>Joseph Macharia</h2>
						<h5>Customer Service Representative</h4>
						<p>Front-end Developer</p>
						<p>HTML, CSS, Javascript,<br> jQuery</p>
					</div>
				</div>
				<br><br>
			</div>
		</div>



		<!-- <div class="contain">	
			<div class="owl-carousel owl-theme blog-post">

				<div class="blog-content" data-aos="fade-right" data-aos-delay="100">
					<img src="{% static 'images/12.jpg' %}" alt="post-1">
					<div class="blog-title">
						<h2>Eric</h2>
						<h5>Manager</h4>
					</div>
				</div>

				<div class="blog-content" data-aos="fade-in" data-aos-delay="50">
					<img src="{% static 'images/20.jpg' %}" alt="post-1">
					<div class="blog-title">
						<h2>David Ndung'u</h2>
						<h5>Assistant Manager</h4>						
				    </div>
				</div>

				<div class="blog-content" data-aos="fade-left" data-aos-delay="50">
					<img src="{% static 'images/16.jpg' %}" alt="post-1">
					<div class="blog-title">
						<h2>Samuel</h2>
						<h5>Customer Service Representative</h4>
					</div>
				</div>
			</div>	
			<div class="owl-navigation">
				<span class="owl-nav-prev"><i class="fa fa-fw fa-long-arrow-left"></i></span>
				<span class="owl-nav-next"><i class="fa fa-fw fa-long-arrow-right"></i></span>
			</div>
	    </div> -->
    </div>

</section>
<div class="team-footer">
	<p><i class="fa fa-fw fa-facebook-official"></i>
	<i class="fa fa-fw fa-twitter"></i>
	<i class="fa fa-fw fa-instagram"></i>
	<i class="fa fa-fw fa-youtube"></i>
</p>
	<h4 class="text-gray">
		&copy; 2021 by PICTUSTECH. All rights reserved created by pictus-Dev
	</h4>
</div>
{% endblock %}